body{
    background-color: #000000;
}

.container1{
    width: 1024px;
    height: 300px;
    margin: 0 auto;
}

.banner h2 {
    width: 1024px;
    height: 350px;
    color: #f4f4f4;
    font-size: 30px;
    text-align: center;
    background-image: url(../imagens/Bloco-Minecraft.png);
    background-repeat: no-repeat;
    background-position: center;
}

.destaque1{
    font-weight: bold;
    margin-right: 10px;
    font-size: 60px;
}